<div class="row justify-content-center pb-5">
  <div class="col-md-8">
    <footer>
      <div class="social">
          <a href="https://github.com/betatim"><i class="fa fa-github fa-2x"></i></a>
          <a href="https://twitter.com/betatim"><i class="fa fa-twitter fa-2x"></i></a>
          <a href="mailto:betatim@gmail.com"><i class="fa fa-envelope fa-2x"></i></a>
      </div>
      <div class="powered-by">
        Copyright © 2014-2020  - Tim Head
      </div>
    </footer>
  </div>
</div>
