{% extends "base.html" %}
{% block title %}{{ article.title|striptags }} - {{ SITENAME }}{% endblock %}

{% block meta %}
<link rel="canonical" href="{{ SITEURL }}/{{ article.url }}">
<meta property="og:url" content="{{ SITEURL }}/{{ article.url }}" />
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ article.title }}" />
{% endblock %}

{% block content %}
<article>
  <header class="title">
    <h1>
      {{ article.title }}
    </h1>
    <time class="when d-block small mb-3">{{ article.locale_date }}</time>
  </header>
  <article>
    {{ article.content }}
  </article>
</article>

{% endblock %}
