{% extends "base.html" %}
{% block title %}{{ SITENAME }}{% endblock title %}

{% block content %}
    {% if articles %}
    <h1>Posts</h1>
    <ul class="listing">
      {% for article in (articles_page.object_list if articles_page else articles) %}
        <li>
          <span class="d-lg-flex justify-content-between">
            <a href="/{{ article.url }}">{{ article.title }}</a>
            <small class="d-none d-md-inline">{{ article.locale_date }}</small>
          </span>
        </li>
      {% endfor %}
    </ul>
    {% endif %}
{% endblock content %}
